# Jekyll build directory
_site/

# Jekyll cache and metadata
.jekyll-cache/
.jekyll-metadata

# Bundler local gem directory
vendor/bundle/
.bundle/

# Sass cache
.sass-cache/

# macOS files
.DS_Store 